<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nakilnat.nakilnat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nakilnat">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value= "@string/map_key"/>
        <activity android:name=".ui.profile.ProfilePageFragment"></activity>
        <activity android:name=".ui.profile.map.MapFragment"></activity>
        <activity android:name=".ui.profile.ReviewFragment"></activity>
        <activity android:name=".ui.profile.myads.MyAdsFragment"></activity>
        <activity android:name=".ui.profile.myads.ContinueAdsFragment"></activity>
        <activity android:name=".ui.profile.offers.MyOffersFragment"></activity>
        <activity android:name=".ui.profile.offers.IncomingOffersFragment"></activity>
        <activity android:name=".ui.profile.adress.AddAdressFragment"></activity>
        <activity android:name=".ui.profile.adress.MyAdressListFragment"></activity>
        <activity android:name=".ui.profile.MyNotificationsFragment"></activity>
        <activity android:name=".ui.profile.mywallet.MyWalletTransactionsFragment"></activity>
        <activity android:name=".ui.profile.MySettingsFragment"></activity>
        <activity android:name=".ui.profile.MyAccountFragment"></activity>
        <activity android:name=".ui.profile.mywallet.MyWalletFragment"></activity>
        <activity android:name=".ui.profile.mywallet.AddMoneyFragment"></activity>
        <activity android:name=".ui.profile.UpdatePasswordFragment"></activity>
        <activity android:name=".ui.profile.MyInvoicesFragment"></activity>
        <activity android:name=".ui.application.ApplicationPageFragment"></activity>
        <activity android:name=".ui.addad.AddAdFragment"
                  android:windowSoftInputMode="stateVisible|adjustPan"></activity>
    <activity android:name=".ui.addad.AddAdStepCargoDetail"
        android:windowSoftInputMode="stateVisible|adjustPan"></activity>
        <activity android:name=".ui.myships.MyShipsFragment"></activity>
        <activity android:name=".ui.myships.ShipsStepsFragment"></activity>
        <activity android:name=".ui.myships.ContinueShipsFragment"></activity>
        <activity android:name=".ui.home.HomePageFragment"></activity>
        <activity android:name=".ui.onboarding.LoginFragment"></activity>
        <activity android:name=".ui.onboarding.PhoneNumberFragment"></activity>
        <activity android:name=".ui.onboarding.SmsVerificationFragment"></activity>
        <activity android:name=".ui.onboarding.RememberPasswordSmsVerification"></activity>
        <activity android:name=".ui.onboarding.NewPasswordFragment"></activity>
        <activity android:name=".ui.onboarding.RegisterFragment"></activity>
        <activity android:name=".ui.onboarding.OnboardingFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>